:root{
	--blanco:#ffffff;
	--negro:#212121;
	--primario:#ff0707;
	--secundario:#1f0d4e;
	--gris:#757575;
}

.container{
	margin-top: 20px
	}

body{
	font-size: 16px;
	font-family:'Krub', sans-serif;
	background-color: var(--blanco);
	padding: 0%;
}

/* Cambiar tipografía, color y fondo a la barra de navegación con bootstrap */
nav.navbar ul.nav li {
    font-family: 'Krub', sans-serif;
	font-size: 20px;
	color: var(--blanco);
}
nav.navbar {
    background-color: var(--secundario);
}
/* Title */
.navbar-default .navbar-brand {
    color: var(--blanco);
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: var(--blanco);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: var(--blanco);
}

/* centrar el contenido de los enlaces en la barra de navegación con bootstrap */

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.hero{
	background-image: url(../imagenes/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	position: relative;
	margin-bottom: 2rem;
}

.contenido-hero{
	position: absolute;
	background-color: rgb( 0 0 0 / 70% );
	width:100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contenido-hero h2,
.contenido-hero p{
	color: var(--blanco);
}

 /* custom primary buttons */
    
 .btn-primary {
	color: var(--blanco);
	background-color: var(--primario);
}

.btn-primary:hover {
	color: var(--gris);
	background-color: var(--secundario);
	border-color: var(--negro)
}

.btn-primary:focus,
.btn-primary.focus {
	box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.servicio {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem ;
}

.servicio .iconos{
	height: 5rem;
	width:  5rem;
	background-color: var(--blanco);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem;

	}

.title{
	text-align: center;
	margin-block: 30px;
}


